
:root {
  // COLORS
  --cl-white: #fff;
  --cl-blue: #007DFF;
  --cl-lightest-gray: #f0f0f0;
  --cl-light-gray: #848484;
  --cl-dark-gray: #5E5E5E;
  --cl-error: #b9062a;

  --cl-background: #0F0F10;

  // FONTS
  --font-primary: 'Montserrat', sans-serif;
  --font-display: 'Chivo', sans-serif;

  --font-bold: 700;
  --font-semi-bold: 600;
  --font-regular: 400;

  // LAYOUT
  --content-width: 1152px;
  --content-width-single: 620px;

  // BUTTONS
  --btn-blue: #007DFF;
  --btn-blue-hover: #0063CB;
  --btn-blue-active: #002F61;

  // TRANSITIONS
  --transition: .2s;

  // APP HEIGHT
  --hero-height: 100%

  // EXAMPLES BREAKPOINTS
  --examples-breakpoint-desktop-l: 2300px;
  --examples-breakpoint-desktop-md: 1500px;
  --examples-breakpoint-desktop-sm: 1150px;
  --examples-breakpoint-mobile: 600px;
}

// EXAMPLES BREAKPOINTS (again for media queries mixins... cannot use css variables here)
$examples-breakpoint-desktop-l: 2300px;
$examples-breakpoint-desktop-md: 1500px;
$examples-breakpoint-desktop-sm: 1150px;
$examples-breakpoint-mobile: 600px;
