@use '../abstracts/variables' as *;
@use '../abstracts/media-queries' as *;

.example {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 750px;
  width: 1300px;
  padding: 80px;
  border-radius: 39px;
  color: var(--cl-white);
  overflow: hidden;

  @include mq-below($examples-breakpoint-desktop-l) {
    top: 200px;
    height: 680px;
    width: 1200px;
  }
  
  @include mq-below($examples-breakpoint-desktop-md) {
    top: 100px;
    width: 1049px;
    height: 626px;
  }

  @include mq-below($examples-breakpoint-desktop-sm) {
    top: 25px;
    display: grid;
    gap: 36px;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 50px);
    width: calc(100% - 50px);
    border-radius: 17px;
  }

  @include mq-below($examples-breakpoint-mobile) {
    display: block;
    position: relative;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100%;
    padding: 45px 30px 0 30px;
    border-radius: 0;

    .example__logo {

    }

    .example_content {
    }

    img.example__img {
      position: absolute;
      right: 0;
      left: 50%;
      bottom: -110px;
      height: auto;
      width: 110%;
      transform: translateX(-50%) rotate(3deg);
    }
  }

  @include mq-below('mobile-md') {
    img.example__img {
      width: 70%;
    }
  }


  &--sportongo {
    $sportongo-logo-height: 40px;
    $sportongo-logo-width: 138px;

    order: 1;
    background-image: linear-gradient(18deg, #034472 15%, #107ac6 87%);

    .example__content {
      flex: 0 0 365px;
    }

    .example__background-logo {
      height: 100%;
    }

    .example__logo {
      height: $sportongo-logo-height;
      width: $sportongo-logo-width;

      @include mq-below('tablet-md') {
        height: $sportongo-logo-height * .9;
        width: $sportongo-logo-width * .9;
      }
    }

    .example__img {
      right: -24px;
      height: 466px;
      width: 420px;
    }
  }

  &--vizit {
    $vizit-logo-height: 48px;
    $vizit-logo-width: 118px;

    order: 2;
    padding: 80px 0 80px 80px;
    background: linear-gradient(213.31deg, #BD70DF 16.26%, #611D8C 85.88%);

    @include mq-below('tablet-md') {
      padding: 30px 30px 0 30px;
    }

    .example__content {
      flex: 0 0 365px;
    }
    
    .example__logo {
      height: $vizit-logo-height;
      width: $vizit-logo-width;

      @include mq-below('tablet-md') {
        height: $vizit-logo-height * .8;
        width: $vizit-logo-width * .8;
      }
    }

    .example__background-logo {
      z-index: -1;
      left: 40%;
      height: 50%;
    }
  
    .example__img {
      right: -8px;
      height: 472px;
      width: 596px;
    }

    img.example__img {
      @include mq-below('tablet-md') {
        width: 105%;
        bottom: -20px;
        transform: translateX(-40%) rotate(2deg);
      }

      @include mq-below('mobile-md') {
        bottom: -90px;
        width: 100%;
      }
    }
  }

  &--daros {
    $daros-logo-height: 81px;
    $daros-logo-width: 186px;

    order: 3;
    background: linear-gradient(214.97deg, #DBBF39 18.46%, #917E26 83.91%);

    .example__content {
      flex: 0 0 389px;
    }

    .example__logo {
      height: $daros-logo-height;
      width: $daros-logo-width;

      @include mq-below('tablet-md') {
        height: $daros-logo-height * .7;
        width: $daros-logo-width * .7;
      }

      @include mq-below('mobile-md') {
        height: $daros-logo-height * .5;
        width: $daros-logo-width * .5;
      }
    }

    .example__background-logo {
      height: 50%;
      opacity: .1;
    }

    .example__img {
      right: -24px;
      height: 466px;
      width: 430px;
    }
  }

  &--equi-team {
    $equi-team-logo-height: 98px;
    $equi-team-logo-width: 167px;

    order: 4;
    background: linear-gradient(90deg,#282A43 0, #3B4193 100%);

    .example__content {
      flex: 0 0 389px;
    }

    .example__logo {
      height: $equi-team-logo-height;
      width: $equi-team-logo-width;

      @include mq-below('tablet-md') {
        height: $equi-team-logo-height * .7;
        width: $equi-team-logo-width * .7;
      }

      @include mq-below('mobile-md') {
        height: $equi-team-logo-height * .5;
        width: $equi-team-logo-width * .5;
      }
    }

    .example__background-logo {
      height: 40%;
      opacity: .05;
    }

    .example__img {
      right: -24px;
      height: 466px;
      width: 430px;
    }
  }
}

.example__content {
  @include mq-below('tablet-md') {
    width: 100%;
    opacity: 1;
  }
}

.example__title {
  margin-bottom: 30px;
}

.example__background-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  @include mq-below('content-width') {
    display: none;
  }
}

.example__logo {
  display: block;
  margin-bottom: 24px;
}

.example__text {
  margin-bottom: 18px;
}

.example__keywords {
  font-style: italic;
}

.example__img {
  position: relative;
}
