.feature {
  padding: 29px 22px 24px 22px;
  border: 1px solid var(--cl-dark-gray);
}

.feature__logo {
  height: 24px;
  width: 24px;
  margin-bottom: 10px;
}

.feature__heading {
  font-size: 22px;
  margin-bottom: 17px;
}

.feature__paragraph {
  font-size: 13px;
  margin-bottom: 33px;
}

.feature__action {
  display: flex;
  align-items: center;
  gap: 9px;
  font-family: var(--font-primary);
  font-size: 11px;
  line-height: 15px;
  font-weight: 600;
}

a.feature__action {
  color: var(--cl-blue);
}

.feature__action-icon {
  height: 10px;
  width: 6px;
}
