@use '../abstracts/mixins' as *;
@use '../abstracts/media-queries' as *;

.about__wrapper {
  position: relative;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;    
    height: 605px;
    width: 584px;
    background-image: url('~/dist/bundles/img/background-shapes-top-left.webp');
    background-repeat: no-repeat;
    background-size: contain;

    @include mq-retina('1px') {
      background-image: url('~/dist/bundles/img/background-shapes-top-left@2x.webp');
    }

    @include mq-below('584px') {
      width: 100%;
    }
  }
}

.about {
  @include content-width;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 125px 106px;
  overflow: hidden;

  @include mq-below('750px') {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 125px 26px;
    overflow: initial;
  }
}

.about__heading {
  margin-bottom: 9px;
}

.about_sub-heading {
  margin-bottom: 37px;
}

.about__features-inner {
  position: relative;
  display: grid;
  gap: 26px;
  overflow: hidden;
}
