@use '../abstracts/mixins' as *;
@use '../abstracts/media-queries' as *;

.pillars__wrapper {
  position: relative;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: -70px;
    right: 40px;
    display: block;
    height: 288px;
    width: 219px;
    background-image: url('~/dist/bundles/img/background-shapes-features.webp');
    background-repeat: no-repeat;
    background-size: contain;

    @include mq-retina('1px') {
      background-image: url('~/dist/bundles/img/background-shapes-features@2x.webp');
    }
  }
}

.pillars {
  @include content-width;
  position: relative;
  padding: 180px 106px;

  @include mq-above('desktop-md') {
    margin-top: 400px;
  }

  @include mq-below('750px') {
    padding: 160px 26px;
  }
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 1px;
    width: calc(100% - 212px);
    background-color: var(--cl-dark-gray);
  }
}

.pillars__title {
  margin-bottom: 8px;
}

.pillars__subtitle {
  margin-bottom: 15px;
}

.pillars__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include mq-below('750px') {
    grid-template-columns: 1fr;
  }
}
